.cover__link {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: center;
  color: white;
  text-decoration: none;
  z-index: 1; */
}

