@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__link/cover__link.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  width: calc(100% - 48px*2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 92px;
}
